<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.country_select :country %>
  </div>
  <div class="field">
    <%= f.label :local_color %><br>
    <%= f.color_field :local_color %>
  </div>
  <div class="field">
    <%= f.label :external_color %><br>
    <%= f.color_field :external_color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
