<p id="notice"><%= notice %></p>

<p>
  <strong>Competition:</strong>
  <%= @match.competition_id %>
</p>

<p>
  <strong>Local:</strong>
  <%= @match.local_id %>
</p>

<p>
  <strong>Visitor:</strong>
  <%= @match.visitor_id %>
</p>

<p>
  <strong>Local score:</strong>
  <%= @match.local_score %>
</p>

<p>
  <strong>Visitor score:</strong>
  <%= @match.visitor_score %>
</p>

<p>
  <strong>Begin at:</strong>
  <%= @match.begin_at %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
